body {
  font-family: sans-serif;
  margin: 0;
  background-color: #e7ecef;
}

nav a {
  /* text-decoration: none; */
  color: #e7ecef;
  font-size: 150%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#navbar {
  background-color: #14365e;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.welcome {
  color: white;
  font-size: 200%;
  padding: 10px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.botTile,
.cartProduct {
  border: 1px solid black;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 3px 3px 5px #888888;
  transition: all 0.3s ease;
  background-color: #274c77;
  color: white;
}

.name,
.price {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 10px;
}

.name {
  margin-top: 10px;
}

button.ui.fluid.button.addButton {
  border-radius: 0 0 15px 15px;
}

.productImage.product {
  width: 300px;
  height: 300px;
  background-position: center top;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.productImage.cart {
  width: 150px;
  height: 150px;
  background-position: center top;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #888888;
}

.botTile:hover,
.cartProduct:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #ff8307;
  color: black;
}

#mainTitle {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  margin-top: 25px;
}

#cartDiv {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#cartTitle {
  font-size: 200%;
  margin: 20px;
}

#cartList {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}

#emptyCart {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

.cartProduct {
  width: 200px;
}

#cartListTable {
  margin: 20px;
}

tr.center.aligned.product {
  transition: all 0.3s ease;
}

tr.center.aligned.product:hover {
  box-shadow: inset 0 0 0 10px #ff8307;
}

button.ui.red.inverted.fade.animated.button {
  margin: 20px;
  box-shadow: 3px 3px 5px black;
}

.qtyInput {
  width: 65px;
}

div.ui.labeled.input.qtyInput {
  margin-right: 85px;
}

#grandTotalDiv {
  text-align: right;
  font-size: 125%;

  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#cartButtonsDiv {
  display: flex;
  justify-content: flex-end;
}

#editButtonDiv {
  margin-right: 200px;
}

.singleProductViewDiv {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleViewName {
  font-size: 200%;
  padding-top: 50px;
}

.singleViewPrice {
  font-size: 120%;
  color: gray;
}

.singleViewDescription {
  padding: 10px;
  margin-top: 15px;
  width: 450px;
}

.singleViewImage {
  border-radius: 15px;

  box-shadow: 3px 3px 5px black;
  width: 450px;
}

.singleProductViewAddButton {
  width: 380px;
}
